<br>
<h1 class="pacifico">Editing Recipe</h1>

<%= render 'form', recipe: @recipe %>

<br>

<% if !current_user.nil? && @recipe.user_id == current_user.id %>
<%= link_to 'Destroy', @recipe, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %> 