<h1>Homepage</h1>

<!-- I should render this -->
<div class="row">
  <% @recipes.each do |recipe| %>
    <div class="col-md-6">
      <div class="card">
        <% if !recipe.recipe_image.blank? %>
          <%= link_to image_tag(recipe.recipe_image.url), recipe_path(recipe), :class => 'card-img-top' %>
        <% else %>
          <%= link_to image_tag("http://www.fillmurray.com/300/300"), recipe_path(recipe), :class => 'card-img-top' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
