/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

body {
  margin: 0 auto;
  text-align: center;
  // font-family: 'Pacifico', cursive;

}


#pacifico {
  font-family: 'Pacifico', cursive;
}

.pacifico {
  font-family: 'Pacifico', cursive;
}

input, textarea {
   text-align:center;
}

img {
  pointer-events: none;
}



.list-group-item { 
  max-width: 700px;
  margin: 0 auto;
}

.form-control {
  max-width: 700px;
  margin: 0 auto;
    &.new_recipe{
     max-width: 500px;
     margin: 0 auto;
    }
     &.sign_up{
        max-width: 400px;
        margin: 0 auto;
      }

      &.edit{
         max-width: 600px;
         margin: 0 auto;
       }

       &.log_in{
          max-width: 400px;
          margin: 0 auto;
        }
  }
  

