// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .recipe-index {
//   width: 80%;
// }


// div.image_resizer {
//     width: 600px;
//     height: 400px;
//     overflow: hidden;
//     margin: 10px;
//     position: relative;
// }
// .crop {
//     position:absolute;
//     left: -100%;
//     right: -100%;
//     top: -100%;
//     bottom: -100%;
//     margin: auto;
//     width: auto;
//     height: auto;
// }
.carousel-inner img {
  margin: auto;
}

#recipe_time {
  font-size: 35px;
  color: black;
}

#primary_color {
  color: #00997F
}

.verticalLine {
    border-left: 1px thick solid #ff0000;
}

#min {
  color: black;
}

