// Place all the styles related to the Statics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
  border: 0px !important;
}

.difficulty_in_img {
  top: 358px;
  left: 200px;
  position: relative;
}