<div id="container_moving_div">
  <div class="moving_div" id="l1"><img src="/moving_divs/moving_divs-01.png"></div>
  <div class="moving_div" id="l2"><img src="/moving_divs/moving_divs-02.png"></div>
  <div class="moving_div" id="l3"><img src="/moving_divs/moving_divs-03.png"></div>
  <div class="moving_div" id="l4"><img src="/moving_divs/moving_divs-04.png"></div>
  <div class="moving_div" id="l5"><img src="/moving_divs/moving_divs-05.png"></div>
  <div class="moving_div" id="m6"><img src="/moving_divs/moving_divs-06.png"></div>
  <div class="moving_div" id="r1"><img src="/moving_divs/moving_divs-07.png"></div>
  <div class="moving_div" id="r2"><img src="/moving_divs/moving_divs-08.png"></div>
  <div class="moving_div" id="r3"><img src="/moving_divs/moving_divs-09.png"></div>
  <div class="moving_div" id="r4"><img src="/moving_divs/moving_divs-01.png"></div>
  <div class="moving_div" id="r5"><img src="/moving_divs/moving_divs-02.png"></div>
 </div>
